.img {
    width: 80px;
}

.img-fluid {
    width: 20px;
}

.fo {
    background-color: rgb(63, 192, 200);
    max-width: 600px; 
}

.liste  {
    background-color: aqua;
    margin-bottom: 2%;
}

.message {
    background-color: brown;
    margin-bottom: 2%;
}

p {
    text-align: center;
}

.relation {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.hidden, .formulaire {
    display: none;
}

.zone-message {
    width: 95%;
    height: 900px;
    background-color: white;
    border-radius: 2%;
    border-color: gray;
    margin-bottom: 10px;
}

.envoieMessage textarea {
    width: 95%;
    height: 59px;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    resize: none;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 18px;
    border-color: #bfbfbf;
    max-height: 130px;
}

textarea:is(:focus, :valid){
    border-color: #4671EA;
    padding: 14px;
    border-width: 2px;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.envoieMessage button {
    margin-top: 18px;
    height: 58px;
}